<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>students-list</title>

    <meta th:insert="~{links}" />
</head>
<body>
<div>
    <div class="container">
        <div th:insert="~{header}"></div>
    </div>

    <div class="container">
        <div th:insert="~{students-table}"></div>
    </div>

    <div th:insert="~{add-student}"></div>
</div>
</body>
</html>